<p>add-skill works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">New Skill</h3>
            <p class="text-center mb-5">Please add Skills</p>

            <form  class="form-inline text-center">
                <div class="form-group col-md-10">
                    <input type="text" class="form-control shadow-effect" placeholder="Add New Skill">
                </div>

                <div class="col-md-2">
                    <button class="btn btn-block btn-info mb-2">Add Skill</button>
                </div>
            </form>
        </div>
    </div>
</div>
