
<div class="row">
    <div class="col-sm-6 mb-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Skills</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a [routerLink]="('/skill')" class="btn btn-primary">Add Skill</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Internal Project</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Add Project</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Job History</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Add Job</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">FeedBack</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">ViewMore</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Add Education</a>
          </div>
        </div>
        
      </div>
      <div class="col-sm-6 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Add Education</a>
          </div>
        </div>
        
      </div>
      <div class="col-sm-6 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Add Education</a>
          </div>
        </div>
        
      </div>
      <div class="col-sm-6 mb-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Add Education</a>
          </div>
        </div>
        
      </div>
  </div>