<nav class="navbar navbar-expand-lg "style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><strong>Employee</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="('/summary')">DashBoard</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="#">Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Performance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Compensation</a>
        </li>
      </ul>
      
    </div>
    <div class="d-flex" role="search">
      <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
      <button class="btn btn-outline-primary" type="submit">Logout</button>
    </div>
  </div>
</nav>
<div class="container m-5">
  <router-outlet></router-outlet>

</div>




  <footer class="text-center text-lg-start" style="background-color: #4b89b8;">
    

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © Harshal S Zodape:
      <a class="text-white" href="https://github.com/Harshalszz/">Github.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  

